<navigation></navigation>
<div class="navbar-offset">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron jumbo">
          <div class="row marketing">
            <h2>Det måste finnas ett bättre sätt ..</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed">
        <tr>
        <th>Dialog om tvättstugan</th>
        <th></th>
        </tr>
          <tr>
            <td>
              <blockquote>
                <p>Jag måste kasta mig in i tvättstugan</p>
                <footer>Marcus Nilsson
                  <cite title="Source Title">Saturnusvägen 44</cite>
                </footer>
              </blockquote>
            </td>
            <td>
              <blockquote>
                <p>Jag måste kasta mig ut!</p>
                <footer>Rayan Mayor
                  <cite title="Source Title">Malmö</cite>
                </footer>
              </blockquote>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron jumbo">
          <p>Att vara en småbarnsfamilj idag är inte lätt. Tiden räcker helt enkelt inte till för allt som ska göras. Laga mat, tvätta, skjutsa ugnarna till diverse aktiviteter. Efter att lagt en hel helg för att komma ifatt med tvättberget började jag leta efter en annan lösning. Kan man inte bara köpa in det här? Det finns ju för mat!</p>
          <p>Så jag tänkte, det kanske finns fler som vill lägga tid på annat än tvätt</p>
        </div>
      </div>
    </div>
  </div>
</div>
