<home-navigation></home-navigation>
<div class="navbar-offset">
  <div class="jumbotron jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing text-center">
            <h2>3 tillfällen kvar denna veckan</h2>
            <h4>Hämtning planerad idag</h>
            <h1>18.00</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-success">Ändra</button>
        <button type="button" class="btn btn-warning">Avboka</button>
      </div>
    </div>
  </div>
</div>
