<navigation></navigation>
<div class="container navbar-offset">
  <div class="jumbotron jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>Visst finns det roligare saker att göra än att tvätta!</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Vad gör vi</h3>
          <h5>Hämtar tvätten vid din dörr</h5>
          <h5>Tvättar, tunmlar och viker</h5>
          <h5>Lämnar tillbaka din tvätt</h5>
        </div>
        <div class="col-md-6">
          <h3>Vad gör du</h3>
          <h5>Umgås med dina barn</h5>
          <h5>Tar en sväng på golfbanan</h5>
          <h5>Ligger i ett varmt bad</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>Så fungerar abonnemanget</h2>
          </div>
        </div>
      </div>
      <div class="row">
      <p>När du beställer att av våra abonnemang löper det hos oss utan bindningstid. Abonnemanget löper veckovis</p>
    </div>
  </div>
</div>
