<navigation></navigation>
<div class="navbar-offset">
  <div class="alert alert-danger" ng-show="error!=null">{{error}}</div>
  <div class="container-fluid">
    <div class="jumbotron jumbo">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row marketing text-center red-text">
              <h1>Boka tvätt på nätet inom Växjö</h1>
              <p>Vi hämtar, tvättar, tumlar, viker och lämnar tillbaka din tvätt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo none-border-bottom">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-sm-4 col-md-4">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h3>
              <h4>Boka hämtning när det passar dig</h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></h3>
              <h4>Vi hämtar och lämnar inom 24 timmar</h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h3>
              <h4>Ingen bindningstid</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo pitch-time">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>Investera din tid i din familj eller dig själv</h2>
            <p>
              Tvätten fixar vi
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="page-header text-center">
        <h1>Välj vad som passar just <large>dig</large></h1>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="s in subscriptions" class="col-md-4" ng-init="s.expand=false">
        <div class="panel panel-default text-center">
          <div class="panel-heading">{{s.name}}</div>
          <div class="panel-body">
            <div class="page-header">
              <h1>{{s.price}} kr</h1>
              <h4>i veckan</h4>
              <h5 ng-click="s.expand=!s.expand"><a>Detta ingår <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></h5>
              <dl ng-show="s.expand===true">
                <div ng-repeat="sp in s.products">
                  <dt>{{sp.count}} st {{getProduct(sp.id).name}}</dt>
                  <dd>{{getProduct(sp.id).description}}</dd>
                </div>
              </dl>
            </div>
            <button type="button" class="btn btn-block btn-success" ng-click="subscribe(s)">Beställ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>Behöver du mer information?</h2>
            <button type="button" class="btn btn-info" ng-click="moreInfo()">Klicka här</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
