<navigation></navigation>
<div class="container navbar-offset">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Kontaktuppgifter</div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label>Förnamn</label>
              <input type="text" class="form-control" placeholder="Förnamn">
            </div>
            <div class="form-group">
              <label>Efternamn</label>
              <input type="text" class="form-control" placeholder="Efternamn">
            </div>
            <div class="form-group">
              <label>Adress</label>
              <input type="text" class="form-control" placeholder="Adress">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-success" ng-click="confirm()">Skapa konto</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">Din beställning</div>
        <div class="panel-body">
          <div class="page-header">
            <h3>{{product.name}}</h3>
            <h4>{{product.count}} tillfällen i veckan</h4>
          </div>
          <div class="page-header">
            <h5>Gäller för en full tvättmaskin per tillfälle dvs 5 liter</h5>
            <h5>Vit- och kulörtvätt får ej blandas i samma tvätt</h5>
          </div>
          <h5>Pris per vecka <span>{{ product.count * product.price }} kr</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
