<navigation></navigation>
<div class="container navbar-offset">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Kontaktuppgifter</div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Förnamn</label>
              <input type="text" class="form-control" placeholder="Förnamn">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Efternamn</label>
              <input type="text" class="form-control" placeholder="Efternamn">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Adress</label>
              <input type="text" class="form-control" placeholder="Adress">
            </div>
            <button type="submit" class="btn btn-success">Gå till betalning</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">Din beställning</div>
        <div class="panel-body">
          <div class="page-header">
            <h3>Abonnemang litet</h3>
            <h4>1 tillfälle i veckan</h4>
          </div>

          <h5>Pris <span>289 kr</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
