<navigation></navigation>
<div class="container navbar-offset">
  <div class="row">
    <div class="page-header text-center">
      <h1>Abonnemang</h1>
    </div>
    <div ng-repeat="s in subscriptions" class="col-md-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">{{s.name}}</div>
        <div class="panel-body">
          <div class="page-header">
            <h1>{{s.price}} kr</h1>
            <h4>i veckan</h4>
            <h5 ng-click="s.expand=!s.expand"><a>Detta ingår <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></h5>
            <dl ng-show="s.expand===true">
              <div ng-repeat="sp in s.products">
                <dt>{{sp.count}} st {{getProduct(sp.id).name}}</dt>
                <dd>{{getProduct(sp.id).description}}</dd>
              </div>
            </dl>
          </div>
        </div>
        <button type="button" class="btn btn-block btn-success" ng-click="subscribe(s)">Beställ</button>
      </div>
    </div>
  </div>
</div>
</div>
